block state
-
    const state = {
      foto: "./img/2.jpg",
      nombre: "JUAN LÓPEZ",
      rol: "Front-End Developer",
      descripcion: "Desarrollador React desde hace 1 año, autodidacta y freaky de la programación, he realizado algunos proyectos de aplicaciones web para algunas pequeñas empresas locales y trabajos propios. Entre mis habilidades incluyo: Desarrollo Front-end (React, Redux, Sass, HTML5, JS) y diseños adaptados a móviles. También tengo experiencia en diseño UX/UI y puedo ayudarte a que tus clientes/usuarios tenga la mejor experiencia en tu Web/App.",
      rs: [
        {
          icono: "fa-facebook-f",
          url: "https://www.facebook.com/juanlopezaragon87/"
        },
        {
          icono: "fa-twitter",
          url: "https://twitter.com/juanlopezaragon"
        },
        {
          icono: "fa-github",
          url: "https://github.com/Lopez089"
        },
        {
          icono: "fa-linkedin-in",
          url: "https://www.linkedin.com/in/juanlopezaragon"
        },
        {
          icono: "fa-medium-m",
          url: "https://medium.com/@lopez0089"
        },
        {
          icono: "fa-pinterest-p",
          url: "https://www.pinterest.com.mx/lopez089/desarrollos-juan-l%C3%B3pez/"
        }
      ],
      TituloSectionLogro: "LOGROS",
      logro: [
        {
          imgLogo: "https://image.flaticon.com/icons/svg/2522/2522496.svg",
          descripcionTrabajos:
            "Inteface de un sistema de precio para que el usuario pueda selecioar el servicio que desea",
          Tecnologias: ["fa-html5", "fa-css3", "fa-js","fa-react", "fa-bootstrap"],
          enlace: "https://sistemaprecios.firebaseapp.com/",
          fecha: "2020"
        },
        {
          imgLogo: "./img/landingService.png",
          descripcionTrabajos:
            "Landing page de una empresa que ofrece servicio web para sus clientes. Este proyecto tiene como objetivo captar nuevos clientes y que puedan contactar fácil con la empresa para ofreces sus servicios.",
          Tecnologias: ["fa-html5", "fa-css3", "fa-js", "fa-bootstrap"],
          enlace: "http://bit.ly/2Fbtoyi",
          fecha: "2020"
        },
        {
          imgLogo: "https://image.flaticon.com/icons/svg/2471/2471594.svg",
          descripcionTrabajos:
            "Este proyecto es un formulario de registro, el proyecto fue creado para conocer nuevas tecnologías como formik.",
          Tecnologias: ["fa-html5", "fa-css3", "fa-js", "fa-react", "fa-bootstrap"],
          enlace: "http://bit.ly/2NhZJI6",
          fecha: "2020"
        },
        {
          imgLogo: "./img/cart.png",
          descripcionTrabajos:
            "Una interface de una app de lista de la comprar realizada en React.js y manejando el State con Redux.",
          Tecnologias: ["fa-html5", "fa-react", "fa-js", "fa-bootstrap"],
          enlace: "http://bit.ly/368bdEG",
          fecha: "2019"
        },
        {
          imgLogo: "./img/notas.png ",
          descripcionTrabajos:
            "Aplicación de tareas pendientes. Realizada con React.js. Mejorar mis habilidad de react",
          Tecnologias: ["fa-react", "fa-html5", "fa-css3"],
          enlace: "https://codesandbox.io/s/notes-trcj2?fontsize=14&hidenavigation=1&theme=dark",
          fecha: "2019"
        },
        {
          imgLogo: "./img/calculadora.png ",
          descripcionTrabajos:
            "Aplicacion de una calculadora realizada en react, Poner en practica conocimiento en react",
          Tecnologias: ["fa-react", "fa-html5", "fa-css3"],
          enlace: "https://codesandbox.io/s/calculadora-eud3e?fontsize=14&hidenavigation=1&theme=dark",
          fecha: "2019"
        },
        {
          imgLogo: "./img/lp.png ",
          descripcionTrabajos:
            "Proyecto actualización de mi portafolio personal. El objetivo es dar a conocer a mis potenciales clientes mi habilidades y logros.",
          Tecnologias: ["fa-gulp", "fa-js-square", "fa-sass"],
          enlace: "https://lopez089.github.io/Portafolio_juan_2019/",
          fecha: "2019"
        },
        {
          imgLogo: "./img/logo.png",
          descripcionTrabajos:
            "Este diseño de landing page en su versión escritorio. El objetivo del proyecto es probar nuevos productos. La interface fue creada en adobe XD.",
          Tecnologias: [
            "fas fa-bezier-curve",
            "fas fa-object-group",
            "fas fa-ruler-combined"
          ],
          enlace: "https://www.pinterest.com.mx/pin/332281278756878539/",
          fecha: "2019"
        },
        /*{
              imgLogo: './img/FUNDAS.png',
              descripcionTrabajos: 'Diseño de una tienda de funda de teléfonos. El objetivo del proyecto es crear una interfaz UX. La interface fue creada en adobe XD.',
              Tecnologias: ['fas fa-bezier-curve', 'fas fa-object-group', 'fas fa-ruler-combined'],
              enlace: 'https://www.pinterest.com.mx/pin/332281278756891196',
              fecha:'2019',
          },*/
        {
          imgLogo: "./img/Wics.png",
          descripcionTrabajos:
            "Landing page de un gadgets. El objetivo vender el producto a un determinado target. ",
          Tecnologias: ["fa-html5", "fa-sass", "fa-js-square", "fa-node"],
          enlace: "https://wicstv.herokuapp.com/",
          fecha: "2018"
        },
        {
          imgLogo: "./img/lopez.png",
          descripcionTrabajos:
            "Este proyecto es una web muy personal. El objetivo darme a conocer y vender mis productos.",
          Tecnologias: ["fa-html5", "fa-less", "fa-bootstrap"],
          enlace: "https://lopez089.github.io/Portafolio-juan-lopez/",
          fecha: "2016"
        },
        {
          imgLogo: "./img/lean.png",
          descripcionTrabajos:
            "Este Proyecto es una landing page para una empresa de desarrollo web.",
          Tecnologias: ["fa-html5", "fa-less", "fa-bootstrap"],
          enlace: "https://lopez089.github.io/lean_development_web/",
          fecha: "2016"
        },
        {
          imgLogo: "./img/movil.png",
          descripcionTrabajos:
            "Este proyecto  es un comparador precios de Teléfonos Móviles. El objetivo es compara precio si caracteristicas de  teléfonos móviles. ",
          Tecnologias: ["fa-html5", "fa-css3", "fa-js", "fa-bootstrap"],
          enlace: "https://lopez089.github.io/CualEsElMejorMovil/",
          fecha: "2015"
        }
        /*{
              imgLogo: './img/flor.png',
              descripcionTrabajos: 'Este proyecto pertenece al curso desarrollador web profesional de Tutellus. El Proyecto consistió en Realizar la Web De Una floristería. ',
              Tecnologias: ['fa-html5','fa-css3'],
              enlace: 'https://lopez089.github.io/Curso_Frontend_Fiore-Flowers/',
              fecha:'2015',
          },
          {
              imgLogo: './img/curso.png',
              descripcionTrabajos: 'Este proyecto pertenece al curso Desarrollador Web profesional de Tutellus. El proyecto tenía la intención de desarrollar un sitio con columnas. ',
              Tecnologias: ['fa-html5','fa-css3'],
              enlace: 'https://lopez089.github.io/Curso_Frondend_2015/',
              fecha:'2015',
          },*/
      ],
      UrlMas: {
        text: "Mas logros",
        url: "https://www.linkedin.com/in/juanlopezaragon"
      },
      TituloSectionContacto: "CONTACTO",
      otroContacto: {
        text: "También puedes contactar",
        email: "aragonlopezjuan87@gmail.com"
      }
    }
